*{margin: 0; padding: 0; box-sizing: border-box;}
/* global styles */

.heading{
  color: red;
}

.bg {
  background-image: url("./assets/images/bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}
